.mob-frame-child4 {
  align-self: stretch;
  position: relative;
  border-radius: 9.23px;
  background-color: var(--foundation-blue-blue-400);
  height: 115.4px;
  overflow: hidden;
  flex-shrink: 0;
}
.mob-title {
  flex: 1;
  position: relative;
  font-weight: 500;
}
.mob-title-wrapper {
  width: 39.8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.mob-frame-parent5 {
  position: absolute;
  top: 5806.1px;
  left: 15.4px;
  border-radius: 9.23px;
  background-color: var(--color-silver-200);
  border: 0.6px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 155.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 4.614232063293457px;
  gap: 4.61px;
  text-align: left;
  font-size: var(--font-size-2xs-4);
  color: var(--color-black);
  font-family: var(--font-plus-jakarta-sans);
}
