.mob-side-menu-bg {
  background-color: black;
  width: 360px;
  height: 800px;
  overflow: hidden;
  text-align: left;
  font-size: var(--satoshi-18px-medium-size);
  color: var(--neautral-title);
  font-family: var(--font-plus-jakarta-sans);
}
.mob-side-menu-bg-child2 {
  top: 1px;
  left: 1px;
  background-color: rgba(53, 53, 53, 0.54);
  backdrop-filter: blur(7px);
  width: 360px;
  height: 800px;
}
.mob-side-menu {
  top: 0;
  right: 0;
  position: absolute;
  opacity: 1;
  background-color: black;
  height: 800px;
  /* overflow: hidden; */
  text-align: right;
  font-size: var(--font-size-xs);
  /* color: var(--button); */
}
.mob-vector-container {
  position: absolute;
  top: 53px;
  left: 0;
  width: 267px;
  height: 275px;
}
.mob-group-child {
  position: absolute;
  top: 54.5px;
  left: 0;
  max-height: 100%;
  width: 267px;
  object-fit: cover;
}
.mob-group-inner,
.mob-group-item {
  position: absolute;
  top: -0.2px;
  left: 0.8px;
  border-top: 0.5px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 266.5px;
  height: 0.5px;
}
.mob-group-child1,
.mob-line-icon {
  position: absolute;
  top: 164.5px;
  left: 0;
  max-height: 100%;
  width: 267px;
  object-fit: cover;
}
.mob-group-child1 {
  top: 219.5px;
}
.mob-line-div {
  position: absolute;
  top: 274.8px;
  left: -0.2px;
  border-top: 0.5px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 267.5px;
  height: 0.5px;
}
.mob-iconsnavigationclose {
  position: absolute;
  top: 29px;
  left: 225px;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.mob-frame-parent15,
.mob-vector-icon4 {
  position: absolute;
  top: 112px;
  left: 17px;
  width: 114px;
  height: 235px;
}
.mob-vector-icon4 {
  top: 31px;
  width: 77px;
  height: 20px;
  object-fit: cover;
}
.mob-iconsactionshome-parent {
  position: absolute;
  top: 0;
  left: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.mob-iconsactionshome-parent {
  position: absolute;
  top: 0;
  left: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.mob-iconsactionshome {
  position: relative;
  width: 14px;
  height: 14px;
  object-fit: cover;
}
.mob-home {
  position: relative;
  font-weight: 500;
}
.mob-remix-iconsfillfinancehand-parent,
.mob-remix-iconsfillmapsuitcase-parent,
.mob-remix-iconsfillsysteminform-parent,
.mob-remix-iconsfillsystemlock-2-parent {
  position: absolute;
  top: 55px;
  left: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.mob-remix-iconsfillmapsuitcase-parent,
.mob-remix-iconsfillsysteminform-parent,
.mob-remix-iconsfillsystemlock-2-parent {
  top: 110px;
}
.mob-remix-iconsfillsysteminform-parent,
.mob-remix-iconsfillsystemlock-2-parent {
  top: 185px;
}
.mob-remix-iconsfillsystemlock-2-parent {
  top: 240px;
}
.mob-icons8-copyright-all-rights-re2 {
  position: relative;
  width: 12px;
  height: 12px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.mob-frame-parent15,
.mob-vector-icon4 {
  position: absolute;
  top: 112px;
  left: 17px;
  width: 114px;
  height: 235px;
}
.mob-vector-icon4 {
  top: 31px;
  width: 77px;
  height: 20px;
  object-fit: cover;
}
.mob-side-menu-child {
  top: 79px;
  left: 0;
  max-height: 100%;
  object-fit: cover;
}
.mob-side-menu,
.mob-side-menu-child,
.mob-side-menu-item {
  position: absolute;
  width: 267px;
}
.mob-side-menu-item {
  top: 268px;
  left: 0;
  max-height: 100%;
  object-fit: cover;
}
.mob-icons8-copyright-all-rights-re2 {
  position: relative;
  width: 12px;
  height: 12px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.mob-icons8-copyright-all-rights-re-container {
  position: absolute;
  top: 762px;
  left: calc(50% - 59px);
  width: 189.1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base-9);
  font-size: 10px;
  color: #818181;
}
.mob-clikintech-all-rights {
  position: relative;
}
.mob-line2 {
  position: absolute;
  top: 732px;
  left: 92px;
  border-top: 1px solid var(--color-darkolivegreen-100);
  box-sizing: border-box;
  width: 269px;
  height: 2px;
}