.mob-mainPage{
    position: absolute;
    top: 160px;
    padding-left: 128px;
    padding-right: 128px
}

.mob-heading{
    color: #131313;
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mob-description{
    color: #131313;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 164%; /* 26.24px */
}

.mob-subheading{
    color: #131313;
    font-family: Plus Jakarta Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}