.mob-about-us {
  flex: 1;
  position: relative;
}
.mob-about-us-wrapper,
.mob-clikin-tech-fuels-business-gro-wrapper,
.mob-elevate-your-business-with-cli-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.mob-clikin-tech-fuels-business-gro-wrapper {
  font-size: var(--font-size-9xl);
  color: var(--foundation-blue-blue-500);
}
.mob-elevate-your-business-with-cli-container {
  font-size: var(--font-size-base);
}
.mob-frame-parent2,
.mob-frame-parent3 {
  display: flex;
  flex-direction: column;
}
.mob-frame-parent3 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.mob-frame-parent2 {
  position: absolute;
  top: 869px;
  left: 16px;
  width: 317px;
  align-items: center;
  justify-content: center;
  gap: var(--gap-29xl);
  text-align: center;
  font-size: var(--satoshi-18px-medium-size);
  color: var(--foundation-blue-blue-400);
  font-family: var(--font-plus-jakarta-sans);
}
